<ul>
<% @patrons.each do |patron| %>
  <li>
    <div>
      <p><%= patron.name + " (" + patron.hometown + ")" %></p>
      <p><i><%= patron.status %></i></p>
      <p><%= link_to("Send Message", root_path) %></p>
    </div>
  </li>
<% end %>
</ul>
