<ul>
<% @patrons.each do |patron| %>
  <li>
    <div>
      <p><%= patron.name + " (" + patron.hometown + ")" %></p>
      <p><i><%= patron.status %></i></p>
      <p><%= button_to "Send Message", { :controller => 'conversations', :action => 'create', :patron_id => patron.id }, :method => :post  %></p>
    </div>
  </li>
<% end %>
</ul>
