
<h1>Lounges Index</h1>

<p><%= link_to("Back to Airports...", airports_path) %></p>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @lounges.each do |lounge| %>
  <tr>
    <td><%= link_to(lounge.name, lounge_path(lounge.id)) %></td>
  </tr>
  <% end %>
</table>
